/*html{
    font-family: sans-serif,serif,cursive;
}

h2{
    font-size: 30px;
}

#id_1{
    background: linear-gradient(to bottom,#cce6ff,#99ccff,#66b3ff,#3399ff);
    text-shadow: 3px 3px 4px;
    border: 3px dotted black;
    box-shadow: 3px 3px 4px RED;
    border-bottom-color: cyan;
}

body{
      background-image: url(messiback.jpg);
      background-size: cover;
    background-color: dimgrey;
    text-align: center;
}

.boxCont{
    box-shadow: 6px 6px 3px red;
}

.imgClass{
    border: 3px dashed black;
    box-shadow: 4px 4px 5px red;
}

a{
    text-decoration: none;
    font-size: 20px;
    color: red;
    letter-spacing: 10px;
    word-spacing: 15px;
    text-transform:uppercase;
}*/


/*######### Nav Bar ############*/

body{
    margin: 0;
    line-height: 1;
}

nav{
    width: 100%;
    margin: 0;
}

ul.navBarClass{
    overflow: hidden;
    padding: 0;
    margin: 0;
    background-color: darkgray;
}

ul li.triGramClass{
    display: none;
}

ul li{
    list-style: none;
    float:left;/*FLoat all elements to left*/
}

ul li.float-right{
    list-style: none;
    float:right;/*FLoat all elements to left*/
}

ul.navBarClass li a{
    display: block;
    padding: 14px;
    text-decoration-line: none;
    text-transform: uppercase;
    padding: 14px;
    text-align: center;
}

ul.navBarClass li a:hover{
    background-color: brown;
    color: aqua;
}


@media screen and (max-width:680px){
    ul li:not(:nth-child(1)){
        display: none;
    }

    ul.navBarClass li.triGramClass{
        display: block;
        float: right;
    }

    ul.navBarClass.responsive li.triGramClass{
        position: absolute;
        top:0;
        right:0;
    }

    ul.navBarClass.responsive{
        position: relative;
    }

    ul.navBarClass.responsive li{
        display: inline;
        float: none;
    }

    ul.navBarClass.responsive li a{
        display: block;
        text-align: left;
    }
}











