/*html{
    font-family: sans-serif,serif,cursive;
}

h2{
    font-size: 30px;
}

#id_1{
    background: linear-gradient(to bottom,#cce6ff,#99ccff,#66b3ff,#3399ff);
    text-shadow: 3px 3px 4px;
    border: 3px dotted black;
    box-shadow: 3px 3px 4px RED;
    border-bottom-color: cyan;
}

body{
      background-image: url(messiback.jpg);
      background-size: cover;
    background-color: dimgrey;
    text-align: center;
}

.boxCont{
    box-shadow: 6px 6px 3px red;
}

.imgClass{
    border: 3px dashed black;
    box-shadow: 4px 4px 5px red;
}

a{
    text-decoration: none;
    font-size: 20px;
    color: red;
    letter-spacing: 10px;
    word-spacing: 15px;
    text-transform:uppercase;
}*/


/*######### Nav Bar ############*/

body{
    margin: 0;
    line-height: 1;
}

nav{
    width: 100%;
    margin: 0;
}

ul.navBarClass{
    overflow: hidden;
    padding: 0;
    margin: 0;
    background-color: darkgray;
}

ul.navBarClass li.triGramClass{
    display: none;
}

ul.navBarClass li{
    list-style: none;
    float:left;/*FLoat all elements to left*/
}

ul.navBarClass li.float-right{
    list-style: none;
    float:right;/*FLoat all elements to left*/
}

ul.navBarClass li a{
    display: block;
    padding: 14px;
    text-decoration-line: none;
    text-transform: uppercase;
    padding: 14px;
    text-align: center;
}

ul.navBarClass li a:hover{
    background-color: brown;
    color: aqua;
}



@media screen and (max-width:680px){
    ul li:not(:nth-child(1)){
        display: none;
    }

    ul.navBarClass li.triGramClass{
        display: block;
        float: right;
    }

    ul.navBarClass.responsive li.triGramClass{
        position: absolute;
        top:0;
        right:0;
    }

    ul.navBarClass.responsive{
        position: relative;
    }

    ul.navBarClass.responsive li{
        display: inline;
        float: none;
    }

    ul.navBarClass.responsive li a{
        display: block;
        text-align: left;
    }
}

#section-1-gradient{
    background: linear-gradient( #076DFF, #65a5ff);
    background: -webkit-linear-gradient( #076DFF, #65a5ff);
    background: -o-linear-gradient( #076DFF, #65a5ff);
    background: -moz-linear-gradient( #076DFF, #65a5ff);
}

.leftside-change{
    margin-left: 30%;
}

h1.large{
    color: white;
    font-size: 40px;
    margin: 0;
    line-height: 60px;
}

input[type="text"]{
    font-size: 20px;
    width: 400px;
    padding: 5px;
}

form h2{
    color: white;
    line-height: 2px;
}

.row{
    margin-bottom: 10%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.row::after{
    display: table;
    clear: both;
    content: "";
}

.col-1{width: 8.33%;}
.col-2{width: 16.66%;}
.col-3{width: 25%;}
.col-4{width: 33.33%;}
.col-5{width: 41.66%;}
.col-6{width: 50%;}
.col-7{width: 58.33%;}
.col-8{width: 66.66%;}
.col-9{width: 75%;}
.col-10{width: 83.33%;}
.col-11{width: 91.66%;}
.col-12{width: 100%;}






